{% extends 'main/base.html' %}
{% load static %}

{% block title %}NexScat - Home{% endblock %}

<!-- AGREGAR clase "home-page" al body -->
{% block body_attributes %}data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51" class="no-padding-top home-page"{% endblock %}

{% block hero %}
<div class="container-xxl bg-primary hero-header" style="min-height: 570px;">
    <div class="container px-lg-5">
        <div class="row g-8">
            <div class="col-lg-9 text-center text-lg-start">
                <h1 class="text-white mb-4 animated slideInDown">Nexus Source Code Analysis Tool</h1>
                <p class="text-white pb-3 animated slideInDown">Analizá tus proyectos con +170 métricas de Calidad de Software y exportá los resultados en un formato XML, JSON o CSV</p>
                <a href="{% url 'main:importarProyecto' %}" class="btn btn-secondary-gradient py-sm-3 px-4 px-sm-5 rounded-pill animated slideInRight">Analizar proyecto</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- About Start -->
<div class="container-xxl py-5" id="about">
    <div class="container py-5 px-lg-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="text-primary-gradient fw-medium">Herramientas integradas</h5>
                <h1 class="mb-4">Analizadores estáticos de código fuente</h1>
                <p class="mb-4">Para analizar los proyectos se utilizarán las métricas y herramientas de análisis brindadas por <a class="text-primary-gradient fw-medium" href="https://www.sonarsource.com/products/sonarqube/" target="_blank">SonarQube</a> y <a class="text-primary-gradient fw-medium" href="https://sourcemeter.com/" target="_blank">SourceMeter</a>. Para más información puedes acceder a sus sitios oficiales.</p>
                <a href="{% url 'main:estado_herramientas' %}" class="btn btn-primary-gradient py-2 px-4 rounded-pill">Ver estado de herramientas</a>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid wow fadeInUp" data-wow-delay="0.5s" style="right: 0; top: 0; height: auto; max-width: 70%; float: right; z-index: 0;" src="{% static 'img/herramientas.png' %}">
            </div>
        </div>
    </div>
</div>
<!-- About End -->
{% endblock %}